/*Global Elements*/
body {
    background-color: #CFFF8D;
    height: 500px;
    text-align: center;
    color: #253f38;
    font-family: 'Karla', sans-serif;
}

/*Heading*/
#heading {
    line-height: 1;
}

.headingTitle {
    font-size: 150px;
    font-weight: 700;
    margin-top: 0;
}

.headingText {
    margin-bottom: 40px;
}

/*Dice*/
.fa1,
.fa2 {
    font-size: 200px;
    margin: auto 125px;
}

#dice h2 {
    display: inline-block;
    margin: 20px 155px;
}

.throw,
.newGame {
    background-color: #80d760;
    font-size: 30px;
    margin-top: 35px;
    font-weight: 600;
    border-width: 0;
    padding: 5px 15px;
    border-radius: 10px;
    transition: transform 250ms;
}

.newGame {
    margin-left: 20px;
}

/*On Hover*/
.throw:hover,
.newGame:hover {
    transform: translateY(-3px);
}


/*For Phone*/


@media (max-width: 900px) {

    /*Heading*/
    .headingTitle{
        font-size: 100px;
        margin-top: 50px;
    }
    .titleChangeOnDiceThrow{
        font-size: 70px;
        margin-bottom: 44px;
    }

    /*Dice*/
    .fa1, .fa2 {
        font-size: 100px;
        margin: auto 110px;
    }
    #dice h2{
        margin: 20px 110px;
    }

}

@media (max-width: 629px) {

    /*Heading*/
    .headingTitle{
        font-size: 80px;
    }
    .titleChangeOnDiceThrow{
        font-size: 50px;
    }
    /*Dice*/
    .fa1,
    .fa2 {
        margin: auto 80px;
    }

    #dice h2 {
        margin: 20px 80px;
    }
}
